@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-black: #292929;
    --color-white: #ffffff;
    --color-pink: #f7b3b8;
    --color-pink-light: #ffe8eb;
    --color-yellow: #ffd421;
    --color-green: #829e94;

    --text-base: 1rem;
    --text-sm: 1.125rem;
    --text-md: 1.5rem;
    --text-lg: 3rem;
    --text-xl: 6rem;
}