@import "tailwindcss";
@import "swiper/css/bundle";

@theme {
    --color-*: initial;
    --color-black: #292929;
    --color-black-opacity: #29292967;
    --color-white: #ffffff;
    --color-pink: #f7b3b8;
    --color-pink-light: #ffe8eb;
    --color-yellow: #ffd421;
    --color-green: #829e94;

    --text-base: 1rem; /* 16px */
    --text-sm: 1.125rem; /* 18px */
    --text-md: 1.5rem; /* 24px */
    --text-lg: 2rem; /* 32px */
    --text-xl: 3rem; /* 48px */
    --text-2xl: 6rem; /* 96px */
}